* {
  box-sizing: border-box;
}

body {
    height: 95vh;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #1f1c2c, #2e2c39);
  color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 30px 15px;
}

.container {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 30px 25px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.4);
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  background: linear-gradient(to right, #e50aed, #eb96f6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input[type="text"] {
  width: 100%;
  padding: 12px 14px;
  font-size: 16px;
  margin-bottom: 20px;
  border: solid rgb(152, 77, 160) 1px;
  border-radius: 8px;
  background: #2e2e44;
  color: #fff;
  outline: none;
  transition: 0.3s;
}

input[type="text"]::placeholder {
  color: #aaa;
}

.output-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copy-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.copy-btn {
  background: linear-gradient(90deg, #ff0095, #d404e7);
  border: none;
  color: #fff;
  padding: 10px 18px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s ease;
}

.copy-btn:hover {
  opacity: 0.85;
}

@media (max-width: 500px) {
  .copy-container {
    flex-direction: column;
    align-items: stretch;
  }

  .copy-btn {
    width: 100%;
  }
}
#copyMsg {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  background: #9b0b79a3;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: none;
  font-size: 14px;
  z-index: 1000;
  transition: opacity 0.3s ease;
}
